body{
    background-color: #2d294c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

/*
elementos puros
elementos gerais
elementos específicos
*/

/* ------- HEADER ------- */
#header{
    height: 70px;
    background-color: #403d5c;
    color: #e0e0e0;
    display: flex;
    justify-content: space-between;
}
/* LOGO */
#logo{
    align-items: center;
    margin-left: 30px;
}
#logo img{
    display: inline-block;
    width: 30px;
    padding: 20px 0;
}
#logo h1{
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
    padding: 20px 0;
    text-decoration: none;
    color: #e0e0e0;
}
/* MENU */
#menu{
    margin-right: 30px;
}
#menu li{
    padding: 20px 0;
    display: inline-block;
    margin-left: 20px;
    font-size: 16px;
}
#menu a{
    color: #e0e0e0;
    text-decoration: none;
}


/* ------- BODY ------- */
/* TÍTULOS */
#body{
    align-items: center;
    text-align: center;
}
#body h1{
    color: #746ace;
    font-size: 45px;
    margin-top: 60px;
    margin-bottom: 0;
}
#body h2{
    color: #e0e0e0;
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: 400;
}

/* CARDS */
.question{
    color: #e0e0e0;
    font-size: 18px;
    font-weight: 900;
    font-family: Verdana;
    margin-bottom: 10px;
    position: relative;
    right: 275px;
}
.card{
    height: 250px; 
    width: 200px;
    border-radius: 20px;
    position: relative;
}
.card-title{
    font-size: 30px;
}
.left{
    left: 300px;
}
.left .card-title{
    vertical-align: middle;
    padding: 50% 0;
}
.right .card-title{
    vertical-align: middle;
    padding: 15% 0;
}
.click{
    color: #d5ff26;
    font-weight: 500;
    position: absolute;
    top: 380px;
    left: 120px;
}
.click img{
    width: 60%;
}

.arrow img{
    width: 100px;
    display: inline-block;
}

/*---------------- CADASTRO ---------------*/
#form{
    color: #ffffff;
    text-align: left;
    width: 500px;
    margin: 0 auto;
}
label{
    margin-top: 10px;
}
input{
    width: 500px;
}
.caption{
    font-size: 10px;
    color: #e0e0e0;
}
#rules{
    opacity: 0.5;
}
#wrongpass{
    color: red;
}
.btn{
    width: 120px;
    display: block;
    margin:   auto;
    margin-top: 20px;
    background-color: #5e5796;
    border: none;
    font-weight: bold;
}
.btn:hover{
    background-color: #746ace;
}
#newcollection{
    width: 150px;
    margin-top: 70px;
    margin-right: 70px;
}
.cards{
    width: 1000px;
    margin: 50px auto 0 auto;
}
h5{
    color: #27ACA7;
    font-weight: 900;
    position: absolute;
    bottom: 0;
}


/* COLEÇÕES */
.pagetitle{
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    font-weight: 900;
    color: #ffffff;
    font-size: 20px;
}
.subtitle{
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 50px;
}
.inputs{
    border-radius: 5px;
    border-style: none;
}
textarea{
    border-radius: 5px;
    border-style: none;
}
#icon{
    width: 400px;
    height: 27px;
    border-style: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#icon::-webkit-input-placeholder{
    opacity: 0.8;
    font-size: 15px;
    padding-left: 15px;
}
.inputs::-webkit-input-placeholder{
    padding-left: 15px;
}
.browse{
    float: right;
    width: 95px;
    font-size: 16px;
    padding: 1.5px;
    margin-right: 5px;
    border-style: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

